body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    z-index: 9999;
}

.main-content {
    padding-top: 80px;
}

.navbar.scrolled {
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
    color: #ff2975;
    font-size: 1.5em;
    text-decoration: none;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff2975;
}

.nav-links a.active {
    color: #ff2975; /* Highlight color */
}

.search-bar {
    margin-top: 5px;
    display: flex;
    margin-right: 70px;
    justify-content: center;
}

.search-input {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    width: 180px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.search-input::placeholder {
    color: #ccc;
}

.search-input:focus {
    outline: none;
    border-color: #ff2975; /* Highlight border on focus */
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95.8vh; /* Full viewport height */
    /* overflow: hidden; Prevent scrolling */
    background-color: #f4f4f4;
    padding-top: 22px; /* Add space for fixed navbar */
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    margin:20px
}

.image-text-container img {
    max-width: 100%;
    height: auto;
}

.quote {
    font-style: italic;
    color: #333;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
}
.quote:hover {
    color: #FF2359;
    /* color: #e09722; */
}
.form-container {
    width: 35%;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-top: 628px;
    margin-right: 50px;
    margin-bottom: 400px;
}

.form-container h2 {
    font-size: 35px;
    color: #333;
    margin-top: 2px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    height: 50px;
}

.form-group label {
    font-size: 14px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    /* margin-top: 5px; */
}

.form-container .register-btn {
    padding: 12px;
    background-color:#FF2359 ;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}