body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  z-index: 9999;
}

.main-content {
  padding-top: 80px;
}

.navbar.scrolled {
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  color: #ff2975;
  font-size: 1.5em;
  text-decoration: none;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff2975;
}

.search-bar {
  margin-top: 5px;
  display: flex;
  margin-right: 70px;
  justify-content: center;
}

.search-input {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 180px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.search-input::placeholder {
  color: #ccc;
}

.search-input:focus {
  outline: none;
  border-color: #ff2975; /* Highlight border on focus */
}

.card {
  margin-left: 480px;
  width: 50px;
  margin-top: 150px;
  height: 50px;
  margin-bottom: 10px;
}
.card img {
  transition: 1s ease;
  }

.card img:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}

#yr1 {
  margin-left: -250px;
  margin-top: 50px;
  height: 5px;
  width: 5px;
}
#yr2 {
  margin-left: 350px;
  margin-top: -5px;
  height: 5px;
  width: 5px;
}
#yr3 {
  margin-left: -250px;
  margin-top: 450px;
  height: 5px;
  width: 5px;
}
#yr4 {
  margin-left: 350px;
  margin-top: -10px;
  height: 5px;
  width: 5px;
}

.social-footer {
  background-color: #ff2975; /* Pink background */
  padding: 15px 0;
  margin-top: 820px;
  color: #fff;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.social-icons img {
  width: 30px; /* Adjust size as needed */
  height: 30px;
  filter: brightness(0) invert(1); /* Ensures icons are white on pink */
}

