* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f8f8;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Full height */
    background: white;
    overflow: hidden;
}

.left-column {
    flex: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#logo {
    width: 550px;
    margin-top: 0px;
    margin-left: 50px;
}

.left-column h1 {
    color: #ff3366;
    font-size: 28px;
    font-weight: bold;
}

.left-column p {
    color: #333;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.4;
}

.right-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    font-weight: bold;
}

.camera-icon {
    cursor: pointer;
    margin-top: -20px;
    margin-right: 120px;
    width: 140px;
}

.file-input {
    display: none;
}

form {
    width: 100%;
    margin-right: 120px;
    max-width: 400px;
}

form label {
    display: block;
    color: #ff3366;
    font-size: 14px;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 4px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid #ff3366;
    outline: none;
    font-size: 12px;
}

.signup-button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #ff3366;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #000000;
}
